body {
    background: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.warning-box h1 {
    font-size: 40px;
}

.warning-box h2 {
    margin-top: -10px;
    font-size: 28px;
}

.continue-btn {
    display: inline-block;
    margin-top: 25px;
    background: white;
    color: black;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.continue-btn:hover {
    background: #ddd;
}
